body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: whitesmoke;
}

button {
	margin: 10px 34px 0 0;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #6dff72;
  }
  
  button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }